<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script>
         let data=[]
         data = '<%- JSON.stringify(result) %>';  
        
    </script>
    <script src="/js/video-list.js" defer></script>
    <%- include("partials/css_links.ejs") %> 
</head>

<body>
    <%- include("partials/nav.ejs") %>
    <div id="list"></div>
    <%- include("partials/footer.ejs") %>
</body>
<%- include("partials/js_links.ejs") %>
</html>